<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list-header>
    <ion-label>-</ion-label>
    <ion-label>Id</ion-label>
    <ion-label>Nombre</ion-label>
    <ion-label>Descripcion</ion-label>
    <ion-label>Cantidad</ion-label>
    <ion-label>Precio</ion-label>
  </ion-list-header>
  <ion-list *ngFor="let item of listProduct">
    <ion-item>
      <ion-button color="primary" (click)="mostrarDetalleProducto(idProducto.value)">Ver Producto</ion-button>
      <ion-label type='String'>{{item.id}}<input type="hidden" name="" value="{{item.id}}" #idProducto></ion-label>
      <ion-label>{{item.nombre}}</ion-label>
      <ion-label>{{item.descripcion}}</ion-label>
    </ion-item>
  </ion-list>


</ion-content>
