<ion-header>
  <ion-toolbar>

    <ion-title>
      Caso de prueba productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar  (ionChange)="getFilteredProducts($event)" style="margin-right:3%"></ion-searchbar>
  <div class="container">
    <ion-list *ngFor="let item of listProduct">
      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Codigo: {{item.id}}</ion-card-subtitle>
            <ion-card-title>{{item.nombre}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{item.Descripcion}}</ion-card-content>

            <input type="hidden" name="" value="{{item.id}}" #idProducto><ion-button color="primary" (click)="mostrarDetalleProducto(idProducto.value)" >Ver Producto</ion-button>

        </ion-card>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
