ion-card{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: 0 !important;
  border-style:groove;
}
.container{
  margin-left:: 1%;
  margin-right: 1%;
}
.btnDiv{
  text-align: center;
}
